USE [master]
GO
/****** Object:  Database [FORUM_23105]    Script Date: 10/9/2023 12:10:57 PM ******/
CREATE DATABASE [FORUM_23105]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FORUM_23105].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FORUM_23105]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/9/2023 12:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Cat_Pk] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](25) NOT NULL,
	[CatDesc] [nvarchar](500) NOT NULL,
	[CatImg] [nvarchar](255) NULL,
	[CatActif] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Cat_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 10/9/2023 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Quest_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Cat_Fk] [int] NOT NULL,
	[User_Fk] [nvarchar](450) NULL,
	[QuestTitle] [nvarchar](255) NOT NULL,
	[QuestText] [nvarchar](2000) NOT NULL,
	[QuestDate] [datetime] NOT NULL,
	[QuestViews] [int] NULL,
	[QuestActif] [bit] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Quest_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 10/9/2023 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[Resp_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Quest_Fk] [int] NOT NULL,
	[User_Fk] [nvarchar](450) NULL,
	[RespText] [nvarchar](4000) NOT NULL,
	[RespDate] [datetime] NOT NULL,
	[RespActif] [bit] NOT NULL,
 CONSTRAINT [PK_Responses] PRIMARY KEY CLUSTERED 
(
	[Resp_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CatActif]  DEFAULT ((1)) FOR [CatActif]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_QuestViews]  DEFAULT ((0)) FOR [QuestViews]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_QuestActif]  DEFAULT ((1)) FOR [QuestActif]
GO
ALTER TABLE [dbo].[Responses] ADD  CONSTRAINT [DF_Responses_RespActif]  DEFAULT ((1)) FOR [RespActif]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Categories] FOREIGN KEY([Cat_Fk])
REFERENCES [dbo].[Categories] ([Cat_Pk])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Categories]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_Questions] FOREIGN KEY([Quest_Fk])
REFERENCES [dbo].[Questions] ([Quest_Pk])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_Questions]
GO
USE [master]
GO
